* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    display: flex;
    flex-direction: column; 
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: blue;
}

header {
    border-bottom: blue solid 2px;
    font-size: 18px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-grow: 1;
    position: relative;
}

#chartContainer {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
